{# Liste des messages supprimés #}

{% extends '::layout.html.twig' %}

{% block body %}

{% include "MessagerieBundle:Message:onglets.html.twig" %}


<div class="row bandeau">
    <h1 class="text-center">Messages supprimés</h1>
    <div class="pull-right learn-more">
        <a class="btn btn-lg btn-modal" href="#" modal-link="0">En savoir plus</a>
        <div class="modal-container">
            <div class="foundry_modal">
                <h4>Hey there, I'm a cool multi-purpose modal.<br> Use me for almost anything!</h4>
                <hr>
                <p>
                    Convergence unicorn thinker-maker-doer ideate thinker-maker-doer pitch deck piverate food-truck long shadow disrupt. Sticky note engaging latte integrate driven convergence food-truck pitch deck. Quantitative vs. qualitative disrupt sticky note piverate 360 campaign co-working bootstrapping long shadow actionable insight agile latte. Thinker-maker-doer bootstrapping integrate personas long shadow Steve Jobs entrepreneur sticky note ship it grok sticky note.
                </p>
                <p>
                    Grok Steve Jobs user centered design driven earned media food-truck waterfall is so 2000 and late human-centered design workflow ideate sticky note actionable insight entrepreneur unicorn. Experiential parallax physical computing disrupt cortado human-centered design intuitive grok bootstrapping quantitative vs. qualitative driven.
                </p>
                
            </div>
        </div>
    </div>
</div>

<div class="container">
		<!-- 1ere partie de la page-->
		<div class="col-md-4" style="margin-top:20px;">
			<div class="col-md-8 col-md-offset-2">
				<a class="btn col-md-12" href="{{ url('fos_message_thread_new' )}}">Nouveau message</a>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<a class="btn col-md-12" href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<a class="btn col-md-12" href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<a class="btn col-md-12 btn-filled" href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a>
			</div>
		</div>


		<!-- 2eme partie de la page-->
		<div class="col-md-8" style="margin-top:10px;">
		<!--<a href="{{ url('fos_message_thread_new' )}}">{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</a>-->


{% include 'MessagerieBundle:Message:threads_list.html.twig' with {'threads': threads} %}

</div>

{% endblock %}
