{#  Nouveau message #}


{% extends 'MessagerieBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h2>

<form action="{{ url('fos_message_thread_new') }}" method="post">
    {{form_label(form.recipient,'Destinataire')}}
    {{form_widget(form.recipient,{'attr':{'class':'form-control'}})}}
    {{form_errors(form.recipient)}}

    {{form_label(form.subject,'Subject')}}
    {{form_widget(form.subject,{'attr':{'class':'form-control'}})}}
    {{form_errors(form.subject)}}

    {{form_label(form.body,'Body')}}
    {{form_widget(form.body,{'attr':{'class':'form-control'}})}}
    {{form_errors(form.body)}}

    {{form_rest(form)}}

    <input type="submit" />
</form>




{% endblock %}
