{#  Nouveau message #}


{% extends '::layout.html.twig' %}

{% block body %}

{% include "MessagerieBundle:Message:onglets.html.twig" %}

<div class="col-md-12 bandeau">
    <h1 class="text-center">Envoyer un nouveau message</h1>
</div>

<div class="container">
        <!-- 1ere partie de la page-->
        <div class="col-md-4" style="margin-top:20px;">
            <div class="col-md-8 col-md-offset-2">
                <a class="btn col-md-12 btn-filled" href="{{ url('fos_message_thread_new' )}}">Nouveau message</a>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <a class="btn col-md-12" href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <a class="btn col-md-12" href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <a class="btn col-md-12" href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a>
            </div>
        </div>


        <!-- 2eme partie de la page-->
        <div class="col-md-8" style="margin-top:10px;">
        <!--<a href="{{ url('fos_message_thread_new' )}}">{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</a>-->

<form action="{{ url('fos_message_thread_new') }}" method="post">
    {{form_label(form.recipient,'Destinataire')}}
    {{form_widget(form.recipient,{'attr':{'class':'form-control'}})}}
    {{form_errors(form.recipient)}}

    {# Enlever peut-être la partie sujet... #}
    {{form_label(form.subject,'Sujet')}}
    {{form_widget(form.subject,{'attr':{'class':'form-control'}})}}
    {{form_errors(form.subject)}}

    {{form_label(form.body,'Message')}}
    {{form_widget(form.body,{'attr':{'class':'form-control'}})}}
    {{form_errors(form.body)}}

    {{form_rest(form)}}

    <input type="submit" value="Envoyer"/>
</form>


</div>

{% endblock %}
