{#  Nouveau message #}


{% extends '::layout.html.twig' %}

{% block body %}

{% include "MessagerieBundle:Message:onglets.html.twig" %}

<h2><center>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</center></h2>

<form action="{{ url('fos_message_thread_new') }}" method="post">
    {{form_label(form.recipient,'Destinataire')}}
    {{form_widget(form.recipient,{'attr':{'class':'form-control'}})}}
    {{form_errors(form.recipient)}}

    {# Enlever peut-être la partie sujet... #}
    {{form_label(form.subject,'Sujet')}}
    {{form_widget(form.subject,{'attr':{'class':'form-control'}})}}
    {{form_errors(form.subject)}}

    {{form_label(form.body,'Message')}}
    {{form_widget(form.body,{'attr':{'class':'form-control'}})}}
    {{form_errors(form.body)}}

    {{form_rest(form)}}

    <input type="submit" value="Envoyer"/>
</form>




{% endblock %}
