{# Réponse à un message #}


{% extends '::layout.html.twig' %}

{% block body %}

{% include "MessagerieBundle:Message:onglets.html.twig" %}


{% for flashMessage in app.session.flashbag.get('notice') %}

<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ flashMessage }}
</div>

{% endfor %}

<div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="page-header">
                        <h2>{{ thread.subject }}</h2>
                    </div>

{% for message in thread.messages %}
 <div class="comments-list">
                       <div class="media">
                            <p class="pull-right"><small>{% trans with {'%date%': message.createdAt|date} from 'FOSMessageBundle' %} on {% endtrans %} </small></p>

                             <div class="media-body messenger_thread_message_body" id="message_{{ message.id }}">
                                <h4 class="media-heading user_name">{# Mettre le nom du sender #} {% trans with {'%sender%': message.sender|e } from 'FOSMessageBundle' %} by {% endtrans %}  </h4>
                                {# mettre le commentaire #} {{ message.body }}
                            </div>
                        </div>
                    </div>

                   <!-- <div class="messenger_thread_message">
                        <div class="messenger_thread_message_info">
                            {% trans with {'%sender%': message.sender|e, '%date%': message.createdAt|date} from 'FOSMessageBundle' %}message_info{% endtrans %}
                        </div>

                        <div class="messenger_thread_message_body" id="message_{{ message.id }}">
                            {{ message.body }}
                        </div>
                    </div>-->
{% endfor %}
                



<form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
    {{ form_widget(form) }}

    <input type="submit" value="Envoyer"/>
</form>

            </div>
        </div>
</div>

{% endblock %}
