{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block lesheureusesnaissancesplatform_body %}

  <h2>{{ advert.title }}</h2>
  <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>
  {% if advert.image is not null %}
 <img 
  src="{{ asset(advert.image.webPath) }}"
  alt="{{ advert.image.alt }}"
/>
{% endif %}

  <div class="well">
    {{ advert.content }}
  </div>
  <h2>Commentaire </h2>

  <ul>
    
  </ul>
  {% if not advert.applications.empty %}
  <p>
    Commentaire :</br>
    {% for application in advert.applications %}
      <i> Par {{ application.author }} à {{application.date | date('d/m/Y')}} 
            <br>
          {{ application.content }}
            {%if app.user.username==application.author%}
          <a href="{{ path('oc_platform_delete_application', {'id': application.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer 
    </a>
    {%endif%}
        <br>
        {% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>
{% endif %}

{% if listAdvertSkills|length > 0 %}
  <div>
    Cette annonce requiert les compétences suivantes :
    <ul>
      {% for advertSkill in listAdvertSkills %}
        <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}


<form class="navbar-form navbar-left" role="form" method="POST" action="{{path('oc_platform_application', {'id': advert.id})}}"  >
                    <div class="form-group">
                      <input type="text" name="commentaire" placeholder="Commentaire" class="form-control">
                    </div>
                        <button type="submit" class="btn btn-default">Envoyer</button>
                </form>
  <p>
    <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="{{ path('oc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
  </p>

{% endblock %}