

{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  Modifier Profile - {{ parent() }}
{% endblock %}

{% block lesheureusesnaissancesplatform_body %}

  <div class="col-md-12 bandeau">
      <h1 class="text-center">Modifier mon profil</h1>
  </div>
    {% if app.user.description==null%}
<div class="alert alert-warning">
  <strong>Warning!</strong> Pensez à compléter votre profil
</div>
    {% endif %}


<div class="container">
  <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <div class="col-md-9 col-md-offset-3 text-center">
            <h3 style="margin-top:20px;">Informations personnelles</h3>
        </div>
        <form class="edit" action="{{ path('fos_user_profile_edit') }}" method="post" {{form_enctype(form)}}>
        <div class="text-center col-md-3" style="margin-top:0px;">
            {%if (app.user.image)!=null%}
              <img src="{{asset(app.user.image.getWebPath)}}" class="avatar img-circle" alt="avatar">
            {%else%}
              <img src="http://i57.servimg.com/u/f57/16/18/15/10/1866.jpg" class="avatar img-circle img-thumbnail">
            {%endif%}

            <h6>Changez votre photo de profil</h6>
              {{ form_errors(form.image) }}
              {{ form_widget(form.image) }}
        </div>
        <div class="col-md-9">
          <div class="personal-info">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                {{ form_label(form.description, "Description") }}
                {{ form_errors(form.description) }}
                <div class="clearfix"></div>
                {{ form_widget(form.description) }}
              </div>
              
              <div class="form-group">
                {{ form_label(form.personnalite, "Personnalité") }}
                <div class="clearfix"></div>
                {{ form_errors(form.personnalite) }}
                {{ form_widget(form.personnalite) }}
              </div>

              <hr>


              <div class="form-group">
                {{ form_label(form.nom, "Nom") }}
                {{ form_errors(form.nom) }}
                <div class="clearfix"></div>
                {{ form_widget(form.nom) }}
              </div>
              <div class="form-group">
                {{ form_label(form.prenom, "Prénom") }}
                {{ form_errors(form.prenom) }}
                <div class="clearfix"></div>
                {{ form_widget(form.prenom) }}
              </div>
              <div class="form-group">
                {{ form_label(form.adresse, "Adresse") }}
                <div class="clearfix"></div>
                {{ form_errors(form.adresse) }}
                {{ form_widget(form.adresse) }}
              </div>
              <div class="form-group">
                {{ form_label(form.ville, "Ville") }}
                <div class="clearfix"></div>
                {{ form_errors(form.ville) }}
                {{ form_widget(form.ville) }}
              </div>
              <div class="form-group">
                {{ form_label(form.departement, "Departement") }}
                <div class="clearfix"></div>
                {{ form_errors(form.departement) }}
                {{ form_widget(form.departement) }}
              </div>
              <div class="form-group">
                {{ form_label(form.profession, "Profession") }}
                <div class="clearfix"></div>
                {{ form_errors(form.profession) }}
                {{ form_widget(form.profession) }}
              </div>
              <div class="form-group">
                {{ form_label(form.telephone, "Téléphone") }}
                <div class="clearfix"></div>
                {{ form_errors(form.telephone) }}
                {{ form_widget(form.telephone) }}
              </div>
              <div class="form-group">
                <input type = "date" name=" anniversaire" id="anniversaire"> 
                {{ form_label(form.anniversaire, "Anniversaire",  { 'type': 'date', 'attr': {'style': 'width:20px;'}})}}
                {{ form_errors(form.anniversaire) }}
                {{ form_widget(form.anniversaire) }}
              </div>
          </div>
          {{ form_errors(form) }}
          <input type="submit" value="{{ 'Enregister les modifications' }}" />
          {{ form_end(form) }}
        </div>
      </div>
  </div>
</div>
      
{# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
   mais si vous l'avez en local, changez simplement l'adresse. #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{# Voici le script en question : #}
<script type="text/javascript">
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#fos_user_profile_form_enfants');

    // On ajoute un lien pour ajouter une nouvelle catégorie
    var $addLink = $('<a href="#" id="add_category" class="btn btn-default">Ajouter un enfant </a>');
    $container.append($addLink);

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $addLink.click(function(e) {
      addCategory($container);
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addCategory($container);
    } else {
      // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    // La fonction qui ajoute un formulaire Categorie
    function addCategory($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Enfant ' )
          .replace(/__name__/g, index));

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>




{% endblock %}

{#
          <div class="form-group">
       
           {{ form_label(form.username, "Identifiant") }}
       
            <div class="clearfix">
              {{ form_errors(form.username) }}
              {{ form_widget(form.username) }}
            </div>
          </div>
          <div class="form-group">
            {{ form_label(form.email, "Email") }}
            {{ form_errors(form.email) }}

            <div class="clearfix">
            {{ form_widget(form.email) }}
            </div>
          </div>
#}

