{%extends 'AppBundle::Layout.html.twig'%}



{%block body%}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

  <!-- Bandeau supérieur -->
<div class="col-md-12 bandeau-profil">
    <div class="col-md-4 text-center">
      {%if (user.image)!=null%}
        <img  class="img-circle img-responsive" src= "{{ asset(user.image.webPath) }}" alt="{{ user.image.alt }}">
      {%else%}
        <img  class="img-circle img-responsive" src= "http://i57.servimg.com/u/f57/16/18/15/10/1866.jpg" height="">
      {%endif%}
    </div>

    <div class="col-md-4 text-center">
      <!-- Pseudo -->
      <h3 class="profil-username">{{ user.username }}</h4>
      
      <!-- Age -->
      <h3 >{{user.getAge()}} ans</h4>

      <!-- Age -->
      <h3 >Je suis "{{user.personnalite}}"</h4>

    </div>

    <div class="col-md-4 text-center">
      <h3 class="profil-username">{{ user.departement }}</h4>
      <h3>{{ user.ville }}</h4> 
      {%if app.user.id==user.id%}
          <a class="btn btn-filled" href="{{path('fos_user_profile_edit')}}">Modifier mon Profil</a>
      {%endif%}
    </div>


</div>



<div class="profil-firstsec">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <h3 class="uppercase mt20">Qui suis-je ?</h3>
                <p class="lead">
                  <!-- Description -->
                  {{user.description}}
                </p>
                
                
                <!-- Si l'utilisatrice est enceinte -->
                {% if user.enceinte == 1%}
                <h3>Je suis enceinte en ce moment</h3>
                <p class="lead">

                  <!-- Date de fin de grossesse -->
                  Ma grossesse arrive à terme en : {{user.datef.format('m/Y')}} <br>
                
                  {% if not user.enfants.empty%} <!-- Nombre d'enfants -->
                    J'ai {{user.enfants.count}} enfants
                    <div class="profil-enfants">
                      {% for enfant in user.enfants %}
                        <div class="col-sm-2 text-center">
                            {% if enfant.sexe == 'F'%}
                              <img src="{{asset('front/img/logo_fille.jpg')}}" alt="logo_fille">
                            {% else %}
                              <img src="{{asset('front/img/logo_garcon.jpg')}}" alt="logo_garcon">
                            {% endif %}
                            {% if enfant.getAge()!= 0 %}
                            <p>{{enfant.getAge()}} ans </p>
                            {% else  %}
                            <p>{{enfant.getMois()}} mois </p>
                            {% endif %}
                            <p>{{enfant.prenom}}</p>
                        </div>
                      {% endfor %}
                    </div>
                  {% else %}
                    Je n'ai pas encore d'enfant
                  {% endif %}

                </p>

                {% else %}
                  <h3>Je ne suis pas enceinte en ce moment</h3>
                  
                  {% if not user.enfants.empty%} <!-- Nombre d'enfants -->
                    J'ai {{user.enfants.count}} enfants
                    <div class="profil-enfants">
                      {% for enfant in user.enfants %}
                        <div class="col-sm-2 text-center">
                            {% if enfant.sexe == 'F'%}
                              <img src="{{asset('front/img/logo_fille.jpg')}}" alt="logo_fille">
                            {% else %}
                              <img src="{{asset('front/img/logo_garcon.jpg')}}" alt="logo_garcon">
                            {% endif %}
                            {% if enfant.getAge()!= 0 %}
                            <p>{{enfant.getAge()}} ans </p>
                            {% else  %}
                            <p>{{enfant.getMois()}} mois</p>
                            {% endif %}
                            <p>{{enfant.prenom}}</p>
                        </div>
                      {% endfor %}
                    </div>
                  {% else %}
                    Je n'ai pas encore d'enfant
                  {% endif %}
                {% endif %}

            </div>
            </div>
        </div>
    </div>
    <div class="profil-secondsec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="uppercase mt20">Mes disponibilités</h3> 
                </div>
            </div>
        </div>
    </div>

    <div class="profil-thirdsec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="uppercase mt20 mb50">Elles ont déjà partagé du temps avec moi</h3> 

                    {% for commentaire in user.commentaires %}
                      <div class="col-md-10 col-md-offset-1 profil-comments">
                          <i> Par {{ commentaire.auteur }} à {{commentaire.date | date('d/m/Y')}} </i>
                          <div class="col-md-6">
                              <h4>Titre du commentaire</h4>
                              <p>
                                  {{ commentaire.contenu }}
                              </p>
                          </div>
                          <div class="col-md-6">
                            <div class="text-center profil-comment-picture">

                              {% if (commentaire.image)!=null %}
                                  <div class="col-sm-2"><img  class="img-circle img-responsive" src= "{{ asset(commentaire.image.webPath) }}" alt="{{ commentaire.image.alt }}">
                              {% endif %}
                            </div>
                          </div>

                          {%if app.user.username==commentaire.auteur%}
                            <a href="{{ path('app_user_delete_commentaire', {'id': commentaire.id}) }}" class="btn btn-danger">
                              <i class="glyphicon glyphicon-trash"></i>
                              Supprimer 
                            </a>
                            {% endif %}
                            <br>
                            
                      </div>
                      {% if not loop.last %}, {% endif %}
                    {% endfor %}
                    
                    <hr>

                    <!-- Exemple de commentaire sans photo
                    <div class="col-md-10 col-md-offset-1 profil-comments">
                        <h4>Titre du commentaire</h4>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
                        </p>
                    </div>-->
            </div>

            <form class="navbar-form navbar-left" role="form" method="POST"  enctype="multipart/form-data" action="{{path('app_user_add_commentaire', {'username' : user.username})}}"  >
              <div class="form-group">
                <input type= "text"   name="commentaire" placeholder="Commentaire" class="form-control">
                <input type= "file"  name="image" class="form-control">
              </div>
              <button type="submit" class="btn btn-default">Envoyer</button>
            </form>
          </div>
        </div>
    </div>





    {% else %}
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
  {% endif %}

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}

    <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
    <script src="{{asset('js/vendor/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="{{asset('js/main.js')}}"></script>

    
  {% endblock %}
{% endblock %}
