{% extends "MeetUpBundle:MeetUp:layout.html.twig" %}

{% block title %}
  Rencontre {{ parent() }}
{% endblock %}

{% block body %}

<div class="col-md-12 bandeau">
    <h1 class="text-center">{{ meet_up.titre }}</h1>
</div>

<div class="container" >
  <div class="row">
    <div class="col-md-3" style="margin-top:30px;">
        <div class="feature feature-2 bordered">
            <div class="text-center">
                <i class="ti-package icon-sm"></i>
                <h5 class="uppercase">Informations</h5>
            </div>
            <p>
              <strong>Département : </strong> {{meet_up.departement}}
            </p>
            <p>
              <strong>Lieu : </strong> {{meet_up.localisation}}
            </p>
            <p>
              <strong>Thème : </strong> {{meet_up.theme}}
            </p>
            <p>
              <strong>Propositions de date : </strong>
            </p>
            <p>
              {{meet_up.jour1 | date('d/m/Y')}} : 
              
              {% if meet_up.vote_jour1 < '2' %}
              {{ meet_up.vote_jour1 }} vote 
              <a href="{{ path('add_vote_jour1', {'id' : meet_up.id}) }}"><strong>+</strong></a>
              {% else %}
              {{ meet_up.vote_jour1 }} votes
              <a href="{{ path('add_vote_jour1', {'id' : meet_up.id}) }}"><strong>+</strong></a>
              {% endif %}
            </p>
            <p>
              {{meet_up.jour2 | date('d/m/Y')}}
              {% if meet_up.vote_jour2 < '2' %}
              {{ meet_up.vote_jour2 }} vote 
              <a href="{{ path('add_vote_jour2', {'id' : meet_up.id}) }}"><strong>+</strong></a>
              {% else %}
              {{ meet_up.vote_jour2 }} votes
              <a href="{{ path('add_vote_jour2', {'id' : meet_up.id}) }}"><strong>+</strong></a>
              {% endif %}
            </p>
            <p>
              {{meet_up.jour3 | date('d/m/Y')}}
              {% if meet_up.vote_jour3 < '2' %}
              {{ meet_up.vote_jour3 }} vote 
              <a href="{{ path('add_vote_jour3', {'id' : meet_up.id}) }}"><strong>+</strong></a>
              {% else %}
              {{ meet_up.vote_jour3 }} votes
              <a href="{{ path('add_vote_jour3', {'id' : meet_up.id}) }}"><strong>+</strong></a>
              {% endif %}
            </p>

            <hr>

            <p class="text-center">
              <strong>{{meet_up.listeparticipantes.count}}</strong>
            </p>
            <p class="text-center">
              <strong>Participants</strong>
            </p>
            <div class="text-center">

              {% if app.user.username!=meet_up.user and  not (meet_up.listeparticipantes.contains(app.user)) %}
                <a class="btn" href="{{ path('ajout_participante', {'id' : meet_up.id}) }}">Je participe
                </a> 

                {% elseif  meet_up.listeparticipantes.contains(app.user) %}
                <a class="btn" href="{{ path('suppression_participante', {'id' : meet_up.id}) }}"> Je ne participe plus
                </a> 

              {% endif %}
            </div>
        </div>
        <!--end of feature-->
    </div>
    
    <div class="col-md-9" style="margin-top:30px;">
        <div class="feature feature-2 bordered">
            <h3 class="text-center">La rencontre</h3>
            <div class="text-center col-md-4">
             <img alt="café" class="img-responsive" src="{{asset('front/img/cafe.jpg')}}"/>
            </div>
            <!-- La rencontre-->
            <div class="col-md-8">
              <p>
                {{meet_up.description}}
              </p>
            </div>
            
            <div class="clearfix"></div>
            <!-- Commentaires -->
            <hr class="mt20">

            <h3 class="text-center">Discussion</h3>
            <div>
              {% if meet_up.commentairesMeetUp != null %}
                {% for commentaireMeetUp in meet_up.commentairesMeetUp %}
                  <div class="feature feature-2 boxed">                  
                    <h6 class="pull-right">le {{commentaireMeetUp.date | date('d/m/Y \à\ H:i:s')}}</h6>
                    <h4>{{ commentaireMeetUp.auteur }}</h4>
                    <p>{{ commentaireMeetUp.contenu }}</p>
                    {% if app.user.username==commentaireMeetUp.auteur %}
                      <a class="pull-right" href="{{ path('delete_commentaire_meet_up', {'id': commentaireMeetUp.id}) }}" >Supprimer </a>
                    {% endif %}
          
                    {% if not loop.last %}{% endif %}
                  </div>
                {% endfor %}
              {% endif %}


               {%if app.user.username==meet_up.user%} 
               <a href="{{ path('delete_meet_up', {'id': meet_up.id}) }}" class="btn btn-danger">
               <i class="glyphicon glyphicon-trash"></i>
                Supprimer 
                </a>
                {% endif %} 
                <form role="form" method="POST" enctype="multipart/form-data" action = "{{ path('add_commentaire_meet_up', {'id': meet_up.id}) }}" >
                  <div class="form-group col-xs-8">
                    <input type= "text"   name="commentaire" placeholder="Commentaire" class="form-control">
                  </div>
                  <div class="form-group col-xs-4">                
                    <button type="submit" class="btn btn-default">Envoyer</button>
                  </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--end of feature-->

        <div class="feature feature-2 bordered">
          <h2 class="text-center">Participantes</h2>

          {% if not meet_up.listeparticipantes.empty%} 
            {% for participant in meet_up.listeparticipantes %}
              <p>- {{participant.getUsername()}}</p>
            {% endfor %}
          {% else %}
            <p>Pas encore de participantes</p>
          {% endif %}
        </div>
    </div>

  </div>
</div>

{% endblock %}